
@font-face {
	font-family: allura;
	src: url('Allura-Regular.ttf');
}
@font-face {
	font-family: craftygirls;
	src: url('CraftyGirls.ttf');
}
			body {
				border: 30px solid transparent;
					border-image: url('New Roblox Symbol Small.png') 30 round;
				font-family: 'allura';
					font-size: 48px;
							background-color: #0013ff
			}
			a {
				color: cyan;
			}
			a.welcome{
				color:red;
			}
				#Free {
					color: lime;
					}

table tr td{
	vertical-align: top;
}
table {width: 100%}
marquee {
	font-family: 'craftygirls';
}
